<h1>Lista de Clientes</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Id cliente</th>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Direccion</th>
      <th>Telefono</th>
      <th>Correo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clientes.each do |cliente| %>
      <tr>
        <td><%= cliente.id_cliente %></td>
        <td><%= cliente.nombre %></td>
        <td><%= cliente.apellido %></td>
        <td><%= cliente.direccion %></td>
        <td><%= cliente.telefono %></td>
        <td><%= cliente.correo %></td>
        <td><%= link_to ' Mostrar', cliente %></td>
        <td><%= link_to ' Editar', edit_cliente_path(cliente) %></td>
        <td><%= link_to ' Eliminar', cliente, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cliente', new_cliente_path %>
