<h2>REGISTRARSE</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :Email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :Clave %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> caracteres minimo)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :Confirme_su_Clave %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Registrarse" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
