<h1>Lista Cliente Vehiculos</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Vehiculo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @cliente_vehiculos.each do |cliente_vehiculo| %>
      <tr>
        <td><%= cliente_vehiculo.cliente %></td>
        <td><%= cliente_vehiculo.vehiculo %></td>
        <td><%= link_to ' Mostrar ', cliente_vehiculo %></td>
        <td><%= link_to ' Editar ', edit_cliente_vehiculo_path(cliente_vehiculo) %></td>
        <td><%= link_to ' Eliminar ', cliente_vehiculo, method: :delete, data: { confirm: 'Estas seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Cliente vehiculo', new_cliente_vehiculo_path %>
