<h1>Lista de Contratos</h1>

<table class = "table">
  <thead>
    <tr>
      <th>Id contrato</th>
      <th>Id cliente</th>
      <th>Id vehiculo</th>
      <th>Id central</th>
      <th>Direccion</th>
      <th>Destino</th>
      <th>Valor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @contratos.each do |contrato| %>
      <tr>
        <td><%= contrato.id_contrato %></td>
        <td><%= contrato.id_cliente %></td>
        <td><%= contrato.id_vehiculo %></td>
        <td><%= contrato.id_central %></td>
        <td><%= contrato.direccion %></td>
        <td><%= contrato.destino %></td>
        <td><%= contrato.valor %></td>
        <td><%= link_to ' Mostrar', contrato %></td>
        <td><%= link_to ' Editar', edit_contrato_path(contrato) %></td>
        <td><%= link_to ' Eliminar', contrato, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Contrato', new_contrato_path %>
